<div class="container">
<div fxLayout="column" fxLayoutGap="10%">
<div fxFlex="5%" ></div>
<div fxFlex="34%"  fxLayout="row" >
    <div fxFlex="33%" fxFlex.xs="0%" fxFlex.sm="5%" fxFlex.md="15%" fxFlex.lg="30%"></div>
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="70%" fxFlex.lg="40%">
    <mat-card >
    <div fxLayoutAlign="center center">
    <img fxLayoutAlign="none center" id="image" src="../../assets/image/google_PNG19644.png">
    </div>
    <mat-card-title fxLayoutAlign="center center" >Find your Password</mat-card-title>
    <p fxLayoutAlign="center center">Enter your email to find password</p>
    <mat-form-field class="input" >
    <input  matInput placeholder="Email" type="email" [(ngModel)]="model.forgot_email" required>
    <mat-error [hidden]="model.email_bool">enter your valid mail</mat-error>
    </mat-form-field>
    <a class="link" routerLink="/login">Sign In</a> 
    <div fxLayoutAlign="end"><button mat-flat-button id="next" (click)="forgot()">Next</button>
    </div>
    </mat-card>
    </div>
<div fxFlex="33%" fxFlex.xs="0%" fxFlex.sm="5%" fxFlex.md="15%" fxFlex.lg="30%"></div>
</div>
<div fxFlex="33%" ></div>

</div>
</div>