<div class="container" fxLayout="column" fxLayoutGap="60px">
    <div  fxFlex="10%"></div>
    <div fxFlex="35%" fxLayoutAlign="center center">
      <img class="image" src="../../../assets/image/graveyard.jpg">
    </div>
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start center"> 
        <div >Opppsss....</div>
        <a class="link" routerLink="/home">back to Home</a>
      <div class="heading">World's shortest horror story</div>
      <div class="text">"There is no internet connection"</div>
    </div>
  </div>
