.itemButton {
  min-width: 260px;
  font-size: 13px
}

.remindermenu {
  border-radius: 50px;
}

.remaindermenu {
  overflow: hidden;
  display: flex;
}

.icon {
  opacity: 0.5;
  cursor:pointer;
}

.maindiv {
  padding-left: 20px;
}

.timelist {
  font-size: 13px;
  width: 210px;
}
