<div class="container">
  <div fxLayout="column" fxLayoutGap="10%">
    <div fxFlex="5%"></div>
    <div fxFlex="34%" fxLayout="row">
      <div fxFlex="33%" fxFlex.xs="0%" fxFlex.sm="5%" fxFlex.md="15%" fxFlex.lg="30%"></div>
      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="90%" fxFlex.md="70%" fxFlex.lg="40%">
        <mat-card>
        <div fxLayoutAlign="center center"><img fxLayoutAlign="none center" id="image" 
        src="../../assets/image/google_PNG19644.png"></div>
          <mat-card-title fxLayoutAlign="center center">Reset Password</mat-card-title>

        <mat-form-field class="input">
        <input matInput placeholder="password" type="password" [(ngModel)]="model.password" 
        required>
        </mat-form-field>

        <mat-form-field class="input">
        <input matInput placeholder="Confirm Password" type="password" 
        [(ngModel)]="model.confirm_password" required>
        </mat-form-field>

        <div fxLayoutAlign="end"><button mat-flat-button id="next" (click)="reset()">Next</button></div>
        </mat-card>
      </div>

<div fxFlex="33%" fxFlex.xs="0%" fxFlex.sm="5%" fxFlex.md="15%" fxFlex.lg="30%"></div>
</div>
<div fxFlex="33%"></div>
</div>
</div>
