@import '../../../scss/_mixin.scss';
@import '../../../scss/_variable.scss';

.container {
  display: flex;
}

#image {
  @include height(15%);
  @include width(30%);
}

.link {
  color: $blue;
  text-decoration: none;
}

.input {
  @include width(90%);
}

#next {
  background-color: $blue;
  border-radius: 4px
}
